## Extra spectrum files
*.An1
*.rpt
*.ufo
*.Chn

##Large Data Structures
*.root
*.dat

##Root Junk
*cpp.d

##Folders
*.$$$
*$*
Experiments/Activation/oldExamples
/Experiments/Activation/50MeVTa/CalibrationData/8Feb17TestData
/Experiments/Joe_AmBe
/Simulated/PHS/exJoeGravel/*
/Simulated/PHS/exUMG/*
Simulated/PHS/33MeVTa/BeamOnly/Model/ADVANTG/*

## Executables
*.exe

## UMG/HEPROW
*.PLO
*.log
*.asc
*.par
*.29

## Python Notebook
*.ipynb_checkpoints*

## MCNP
*runt*
meshtal
*.sh
*.silo
*.json
inp
inpn.sav
outmc
outp
wwinp
oved
inpcrash
